* {    
        
     
}

body{
        min-height: 100vh; /* Establece la altura mínima del cuerpo al 100% del viewport height (vh) */
        margin: 0; /* Elimina el margen predeterminado del cuerpo */
        padding: 0; /* Elimina el relleno predeterminado del cuerpo */
        display: flex;
        flex-direction: column;
        background: linear-gradient(white,rgb(204, 204, 89));
}

      
/*cabezera,redes sociales y telefonode contacto*/
#nav{
        box-shadow: 4px 7px 6px black;
        background-color: black;
        text-align: right;
        color: rgb(229, 229, 106);

}
/*tamaño del logo*/
.navbar-brand img{
        width: 60px;
        height: auto;
}
/*tamaño de el icono face, insta*/
#botonfa img{
        width: 30px;
        height: auto;
}
#botonins img{
        width: 30px;
}
/*posicionamiento de los enlaces del nav su letra y las mayusculas*/
#navbarScroll{
        justify-content: right;
       
        font-family: monospace;
        text-transform: uppercase;      
        
}
/*que cambie de color cuando me poso*/
#navbarScroll li :hover{
        color: rgb(229, 229, 106);
       text-decoration: underline;
}
#submenuequipos{
        
        background-color: black;
}
#submenuequipos a{
        background-color: transparent;
        color: #007bff;
     }


/*tarjetas*/
.card {
        box-shadow: 10px 4px 8px black;
        border: solid black;
        margin-top: 40px;
        background:linear-gradient(#007bff,white);
        text-align: center;
        
}

.card h5{
      color: black;
        
}
.card p{
        color: black;
}

     #fotter{
        margin-top: 30px;
        text-align: center;
        padding-bottom: 0%;
        margin-top: auto;
        background-color: black;
        

}
.col-md-4 h5{
        
       margin-top: 10px;
}
