/* Estilos para la barra de navegación */
#barra {
  height: 100px;
  background-color: #000; /* Color de fondo */
  color: #FFFF00; /* Color de texto */
  /* Otros estilos, como márgenes, relleno, altura, etc. */
}
#barra img{
  width: 75px;
  height: 50px;
}
#escudo{
 margin-left: 50px;
}
/* Estilos para los enlaces en la barra de navegación */
#barra a {
  color: #FFFF00; /* Color de texto de los enlaces */
  /* Otros estilos para los enlaces, si es necesario */
}

