*{    
        
     
}

body{
        min-height: 100vh; /* Establece la altura mínima del cuerpo al 100% del viewport height (vh) */
        margin: 0; /* Elimina el margen predeterminado del cuerpo */
        padding: 0; /* Elimina el relleno predeterminado del cuerpo */
        display: flex;
        flex-direction: column;
        background: linear-gradient(white,rgb(204, 204, 89));
}
    /* Estilos para la cabecera, redes sociales y teléfono de contacto */
    #nav {
        box-shadow: 4px 7px 6px black;
        background-color: black;
        text-align: right;
        color: rgb(229, 229, 106);
    }
    /* Hamburguesa en dispositvos pequeños*/
    .navbar-toggler{
        color: #007bff;
    }
    /* Cambia el color de las rayas de la hamburguesa (toggler icon) */
.navbar-toggler-icon {
        color: #007bff;
        border: 2px solid #007bff;
       
    }
    
    /* Tamaño del logo en la barra de navegación */
    .navbar-brand img {
        width: 60px;
        height: auto;
    }
    
    /* Tamaño de los iconos de Facebook e Instagram */
    #botonfa img {
        width: 30px;
        height: auto;
    }
    
    #botonins img {
        width: 30px;
    }
    
    /* Posicionamiento de los enlaces del menú de navegación, estilo de letra y mayúsculas */
    #navbarScroll {
       justify-content: right;
        font-family: monospace;
        text-transform: uppercase;
    }
    
    /* Cambio de color en los enlaces del menú al pasar el mouse */
    #navbarScroll li:hover {
        color: rgb(229, 229, 106);
        text-decoration: underline;
    }
    
    /* Estilos para el menú desplegable "Equipos" */
    #submenuequipos {
        background-color: black;
    }
    
    #submenuequipos a {
        background-color: transparent;
        color: #007bff;
    }
    
      

/*textos de las tarjetas tecnificacion*/
.container{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}
#divportero{
     
        text-align: center;
        border: solid;
        margin-bottom: 30px
}
.card{
        transition:transform 0.3;
}

#porteros{
        margin-top: 30px;
        border-radius: 5px;
        border: solid;
        text-align: center;
        font-family: monospace;
}
.card-header{
    text-align: center;
        border-bottom: solid;
       
}

/*ajuste de tamaño de imagen*/

.card-header img{
    width: 100%;
        
}
.card-body{
        background: linear-gradient(#007bff,white);
}
#boton{
        border-radius: 99px;
        background-color: rgb(240, 29, 29);
}
.contenedor-iframe {
        
        position: relative;
        padding-bottom: 56.25%; /* Proporción 16:9 para videos de YouTube */
        overflow: hidden; /* Oculta cualquier desbordamiento del iframe */
      }
      
      .contenedor-iframe iframe {
       
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
      

/*tarjeta de precios*/

#precio2{
        transition: transform 0.3s; /* Transición suave de escala */
       
        background:linear-gradient(#007bff,white);
        border-radius: 20px;
        text-align: center;
        border: solid;
        width: 100%;
        height: 400px;
}
.card-footer button{
        border-radius:20px ;
        background-color: crimson;
     margin-bottom: 3rem;
      font-family: monospace;
      color: black;
width: 100px;       
height: auto;
       box-shadow: 1px 3px 5px;

        
        
}
/* Estilos para el ícono y el texto dentro del elemento <i> */
i.fa-whatsapp {
        font-size: 20px;
        color: green; /* Cambia el color del ícono a verde */
      
    }
    
    /* Estilos para el texto <span> dentro del elemento <i> */
    i.fa-whatsapp span {
        margin-left: 3px;
        color: green; /* Cambia el color del texto a verde */
    }
    
.card-footer{
        text-align: center;
       border-top: solid;
}

    
 #precio2:hover {
        

        background-color: rgb(84, 86, 86);
        transform: scale(1.1); /* Aumenta la escala del elemento al 110% cuando el ratón está sobre él */
 }
    

#fotter{
   
}
/* Agrega la siguiente regla CSS para que el contenido dentro del footer se extienda al 100% del ancho */
#fotter {
        text-align: center;
        padding-bottom: 0;
        margin-top: auto;
        background-color: black;
    }
    
    /* Agrega la siguiente regla CSS para que los elementos dentro del footer ocupen todo el ancho */
    #fotter .container-fluid {
        padding-left: 0;
        padding-right: 0;
    }
    